@charset "ISO-8859-1";

#table-container {
	margin: 16px;
}

table {
	margin: 16px;
}

.ers-form-label {
	margin-left: 4px;
}

.ers-padding-6 {
	padding: 6px;
}

.ers-padding-top-6 {
	margin-top: 6px;
}

.ers-padding-left-6 {
	padding-left: 6px;
}

.ers-padding-12 {
	padding: 12px;
}

button {
	margin: 4px;
}

.ers-fixed-middle {
	position: fixed;
	left: 50%;
	top: 10%;
	width: 300px;
    margin-left: -150px;
	background-color: white;
	border: 2px solid black;
    border-radius: 10px;
}

.whiteText {
	color:white;
	font-weight: bold;
}

.ers-float-right {
	float: right;
	text-align: right;
}

.ers-float-left {
	float: left;
}

.ers-float-bottom {
	float: bottom;
}

.ers-float-top {
	float: top;
}

.ers-raise-arrow::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0;
	border-right: 0.3em solid transparent;
	border-bottom: 0.3em solid;
	border-left: 0.3em solid transparent;
}


.ers-drop-arrow::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
  }

.ers-padding-bottom-20 {
	padding-bottom: 20px;
}

.ers-margin-top-2 {
	margin-top: 2px;
}

.ers-hidden {
	display: none;
}

.ers-position {
	position: absolute;
}

.ers-padding-left-8 {
	padding-left: 8px;
}

.ers-type-width {
	width: 10%;
}

.ers-amount {
	margin-right: 8px;
}

.ers-inline-block {
	display: inline-block;
}

.ers-invalid {
	box-shadow: 0 0 0 0.2rem rgb(220, 53, 69);
	border-color: white;
}

.ers-right-align {
	text-align: right;
}

.ers-master-checkbox {
	position: relative;
	bottom: 100%;
}

.ers-checkbox {
	position: relative;
	left: 16px;
}

#loading-screen {
	position: fixed;
	left: -16px;
	top: -0px;
	right: 0px;
	bottom: 0px;
	background: rgb(128, 128, 128);
	opacity: 0.5;
	z-index: 200;
}
